In [ ]:
import pandas as pd
import numpy as np
import seaborn as sb

In [ ]:
df=pd.read_csv('/content/nfl_draft_1970-2021.csv')
d=pd.read_csv('/content/2014-thru-2020-cap-tables.csv')
df

,year,round,pick,team,player,position,age,to,all_pro,pro_bowl,...,rush_att,rush_yards,rush_tds,receptions,rec_yards,rec_tds,interceptions,sacks,tackles,college
0,1970,1,1,PIT,Terry Bradshaw,QB,22.0,1983.0,1,3,...,444.0,2257.0,32.0,0.0,1.0,0.0,NaN,NaN,NaN,Louisiana Tech
1,1970,1,2,GNB,Mike McCoy,DT,22.0,1980.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,Notre Dame
2,1970,1,3,CLE,Mike Phipps,QB,22.0,1981.0,0,0,...,254.0,1278.0,13.0,0.0,0.0,0.0,NaN,NaN,NaN,Purdue
3,1970,1,4,BOS,Phil Olsen,DT,22.0,1976.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Utah St.
4,1970,1,5,BUF,Al Cowlings,DE,23.0,1979.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,USC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15768,2021,7,255,NOR,Kawaan Baker,WR,23.0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South Alabama
15769,2021,7,256,GNB,Kylin Hill,RB,23.0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi St.
15770,2021,7,257,DET,Jermar Jefferson,RB,21.0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oregon St.
15771,2021,7,258,WAS,Dax Milne,WR,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BYU
15772,2021,7,259,TAM,Grant Stuard,LB,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Houston

In [ ]:
d.head(10)

               name  pos   cap_hit  cap_percent  season                  team
0    Russell Wilson   QB  31000000        15.53    2020      seattle-seahawks
1     Aaron Rodgers   QB  29672000        15.06    2019     green-bay-packers
2      Kirk Cousins   QB  29000000        15.12    2019     minnesota-vikings
3        Jared Goff   QB  28842682        14.15    2020      los-angeles-rams
4       Khalil Mack  OLB  26600000        12.52    2020         chicago-bears
5  Matthew Stafford   QB  26500000        14.61    2018         detroit-lions
6    Russell Wilson   QB  26286668        13.36    2019      seattle-seahawks
7        Von Miller  OLB  25125000        12.89    2019        denver-broncos
8         Tom Brady   QB  25000000        12.25    2020  tampa-bay-buccaneers
9     Philip Rivers   QB  25000000        10.42    2020    indianapolis-colts

In [ ]:
df.shape
df.dtypes

year               int64
round              int64
pick               int64
team              object
player            object
position          object
age              float64
to               float64
all_pro            int64
pro_bowl           int64
starter            int64
carAV            float64
drAV             float64
games            float64
pass_comp        float64
pass_att         float64
pass_yards       float64
pass_tds         float64
pass_int         float64
rush_att         float64
rush_yards       float64
rush_tds         float64
receptions       float64
rec_yards        float64
rec_tds          float64
interceptions    float64
sacks            float64
tackles          float64
college           object
dtype: object

In [ ]:
df.shape

(15773, 29)

In [ ]:
df[df['round']==1]

,year,round,pick,team,player,position,age,to,all_pro,pro_bowl,...,rush_att,rush_yards,rush_tds,receptions,rec_yards,rec_tds,interceptions,sacks,tackles,college
0,1970,1,1,PIT,Terry Bradshaw,QB,22.0,1983.0,1,3,...,444.0,2257.0,32.0,0.0,1.0,0.0,NaN,NaN,NaN,Louisiana Tech
1,1970,1,2,GNB,Mike McCoy,DT,22.0,1980.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,Notre Dame
2,1970,1,3,CLE,Mike Phipps,QB,22.0,1981.0,0,0,...,254.0,1278.0,13.0,0.0,0.0,0.0,NaN,NaN,NaN,Purdue
3,1970,1,4,BOS,Phil Olsen,DT,22.0,1976.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Utah St.
4,1970,1,5,BUF,Al Cowlings,DE,23.0,1979.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,USC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15541,2021,1,28,NOR,Payton Turner,DE,23.0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Houston
15542,2021,1,29,GNB,Eric Stokes,DB,22.0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Georgia
15543,2021,1,30,BUF,Gregory Rousseau,DL,21.0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Miami (FL)
15544,2021,1,31,BAL,Jayson Oweh,DE,22.0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Penn St.
15545,2021,1,32,TAM,Joe Tryon,OLB,22.0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Washington

In [ ]:
df.fillna('Unknown')

,year,round,pick,team,player,position,age,to,all_pro,pro_bowl,...,rush_att,rush_yards,rush_tds,receptions,rec_yards,rec_tds,interceptions,sacks,tackles,college
0,1970,1,1,PIT,Terry Bradshaw,QB,22.0,1983.0,1,3,...,444.0,2257.0,32.0,0.0,1.0,0.0,Unknown,Unknown,Unknown,Louisiana Tech
1,1970,1,2,GNB,Mike McCoy,DT,22.0,1980.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Unknown,Unknown,Notre Dame
2,1970,1,3,CLE,Mike Phipps,QB,22.0,1981.0,0,0,...,254.0,1278.0,13.0,0.0,0.0,0.0,Unknown,Unknown,Unknown,Purdue
3,1970,1,4,BOS,Phil Olsen,DT,22.0,1976.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,Unknown,Unknown,Unknown,Utah St.
4,1970,1,5,BUF,Al Cowlings,DE,23.0,1979.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,Unknown,Unknown,Unknown,USC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15768,2021,7,255,NOR,Kawaan Baker,WR,23.0,Unknown,0,0,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,South Alabama
15769,2021,7,256,GNB,Kylin Hill,RB,23.0,Unknown,0,0,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Mississippi St.
15770,2021,7,257,DET,Jermar Jefferson,RB,21.0,Unknown,0,0,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Oregon St.
15771,2021,7,258,WAS,Dax Milne,WR,Unknown,Unknown,0,0,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,BYU
15772,2021,7,259,TAM,Grant Stuard,LB,Unknown,Unknown,0,0,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Houston

In [ ]:
#df_concat= pd.concat([df,d])
df1=df[ df['player']==d['name']]
df1.head(10)

ValueError: ignored